<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header" style="--bg-image-panel: url('{{ url_for('static', filename='src/panal.png') }}');">
        <!-- Логотип -->
        <div class="logo" style="--bg-image-logo: url('{{url_for('static', filename='src/logo_site.png') }}');"></div>

        <!-- Панель навигации -->
        <div class="nav">
            <a href="/" class="button" style="--bg-image: url('{{ url_for('static', filename='src/image_not_selected.png') }}');
            --hover-image: url('{{ url_for('static', filename='src/image_selected.png') }}');">Главная</a>
            <a href="/about" class="button" style="--bg-image: url('{{ url_for('static', filename='src/image_not_selected.png') }}');
            --hover-image: url('{{ url_for('static', filename='src/image_selected.png') }}');">О нас</a>
            <a href="/contact" class="button" style="--bg-image: url('{{ url_for('static', filename='src/image_not_selected.png') }}');
            --hover-image: url('{{ url_for('static', filename='src/image_selected.png') }}');">Контакты</a>
        </div>
    </div>
        <div class="content">
          <div class="center-smth">
            <div class="centered-text-block">
                <div class="text-header">
                <h1>Добро пожаловать на страницу "О нас"!</h1>
                </div>
              </div>
            </div>
        
            <!-- Нижний блок с мелким текстом -->
            <div class="small-text">
                <p>Я инди-разработчик из A Games Studio. Мой никнейм в интернете "autogamer". Делаю игры свои в основном я самостоятельно
                    на движке Unity, но также иногда мне с музыкой помогает легендарный создатель музыки, у которого постоянно меняется никнейм, однако 
                    он захотел вписаться в историю с никнеймом "giga_pupsek". У меня было куча тестеров, которые по немногу помогали мне выявлять
                    различного рода баги, однако среди них был 1, который старался как мог. Он закрепился как лучший тестер "Saundwave". Также он даёт
                    мне различные идеи для улучшения игры и создания других игр. Вскором времени начну разработку совершенно новой игры. А пока можете
                    посмотреть больше подробностей на моём youtube канале!
                </p>
            </div>
        </div>
    <div class="centered">
        <hr class="styled-line">

    <div class="video-panel">

        <div class="contact-variant-2">
            <img src="{{ url_for('static', filename='src/youtube-panel.png') }}">
          <div class="overlay-content">
            <img src="{{ url_for('static', filename='src/youtube.png') }}" alt="Иконка игры" class="game-icon">
            <h1 class="game-title">Youtube</h1>
            <p class="game-description">Связаться по youtube</p>
            <a href="https://www.youtube.com/@A-GAMES-STUDIO" class="button-download" style="--bg-image-download: url('{{ url_for('static', filename='src/image_not_selected.png') }}');
              --hover-image: url('{{ url_for('static', filename='src/image_selected.png') }}');" target="_blank">Зайти на канал</a>
          </div>
        </div>

      </div>
      <hr class="styled-line">

      <div class="footer" style="--bg-image-panel: url('{{ url_for('static', filename='src/panal.png') }}');">
        <div class="block-text-bottom">
          И так друзья, здесь сайт и заканчивается, если хотите связаться с создателем, то можете заглянуть на страницу "Контакты"!
        </div>
    </div>

    </div>
</body>
</html>